-
	const LANG =  "ru"
	const PROJECT_NAME = "Кэт Энерджи"
	let pageTitle = "Default Title"
	let currentPage = "index.html"

block variables

doctype html
html.page(lang=LANG)
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title=PROJECT_NAME
		link(rel="stylesheet" href="css/style.css")
		//---- Favicons ----
		link(rel="icon" href="/favicon.ico")

		link(rel="icon" href="/favicon.svg" type="image/svg+xml")
		link(rel="apple-touch-icon" href="/apple-touch-icon.png")

		link(rel="manifest" href="/manifest.webmanifest")
		block head

	body.page__body
		include _mixins
		include ../includes/header
		block body

		include ../includes/footer
		script(type="module" src="js/main.js")
		script(src="js/main.legacy.js", defer, nomodule)
