section.intro
	h1._title Функциональное питание для котов
	p._subtitle Занялся собой? Займись котом!

	+responsiveImage({source: 'img/promo-can', alt: "Вкусный корм со вкусом курицы", width: 280, height: 265, medias: ['min-width: 900px', 'min-width: 500px'], className: 'intro__image', pictureClass: 'intro__picture'})

	a(href="catalog.html").button._cta Подобрать программу
