section.programs
	h2.visually-hidden Наши программы

	-
		const PROGRAMS = [{
			title: "Похудение",
			subtitle: "Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.",
			link: "slim",
			icon: 'sitting'
		},
		{
			title: "Набор массы",
			subtitle: "Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!",
			link: "pro",
			icon: 'crawling'
		}]
	each program in PROGRAMS
		article.program
			h3._headline=program.title
			svg._image(width=50, height=50, viewBox="0 0 50 50")
				circle(cx="25" cy="25" r="25" fill="#68B738")
				if program.icon==='sitting'
					use(href="img/panther.svg#sitting" y=-3)
				else
					use(href="img/panther.svg#crawling" y=2 x=-10 width=67)

			p._text=program.subtitle
			a.arrow-link._link(href=`/catalog/${program.link}`)=`Каталог ${program.link}`


//- svg(viewBox="0 0 32 20")
	defs
		marker#triangle( viewBox="0 0 8 12"  markerUnits="strokeWidth" markerWidth="10" markerHeight="10" orient="auto",  refX="1" refY="6")
			path(d="M7.27823 5.99999L0.528229 11.1961V0.803833L7.27823 5.99999Z" fill="#f00")

	line(x1="0" y1="9" x2="18" y2="9" stroke="black" stroke-width=2  marker-end="url(#triangle)")

