@use "../core";

.header {
	font-family: core.$accent-font;
	color: core.$dark;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5;
	text-transform: uppercase;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 2;

	&__logo {
		color: core.$dark;
		transition: color 0.4s;
		outline: none;
	}

	&__logo[href] {
		&:hover {
			color: core.$accent;
		}

		&:focus-visible {
			color: core.$accent;
		}
	}

	@media (max-width: (core.$header-bp - 1px)) {
		&::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: #fff;
			z-index: -1;
			border-bottom: 1px solid core.$light-secondary;
		}

		&__nav {
			width: 100%;
			border-top: 1px solid core.$light-secondary;
		}

		&__toggler:not([hidden]) + &__nav {
			border-top: none;
			position: absolute;
			top: 100%;
			background-color: #fff;
			transform: translateY(-100%);
			transition: transform 0.4s;
			z-index: -2;
		}

		&__toggler[aria-expanded="true"] + &__nav {
			transform: translateY(0);
		}
	}

	@media (min-width: core.$header-bp) {
		padding: 52px var(--side-offset);
		display: grid;
		grid-template-columns: auto 1fr;
		justify-content: center;
		align-items: center;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.33;

		&__toggler {
			display: none;
		}

		&__nav {
			justify-self: end;
		}
	}

	@media (min-width: core.$intro-breakpoint) {
		&--overlay {
			background-color: transparent;
			position: absolute;
			top: 0;
			color: core.$light;
			width: 100%;

			.main-nav__link {
				text-decoration-color: currentColor;

				&[href]:hover {
					color: core.$light;
					outline: 2px solid currentColor;
				}

				&[href]:focus-visible {
					color: core.$light;
				}
			}
		}
	}
}
