@use "../core/" as core;
@use "sass:math";

$background-mob-size: 302px;
$gradient: linear-gradient(to bottom, core.$accent $background-mob-size, core.$light $background-mob-size);

$bp-tab: 620px;

.intro {
	display: grid;
	justify-content: center;
	justify-items: center;
	padding: 2em var(--side-offset) 0;
	font-family: core.$accent-font;
	text-align: center;

	position: relative;
	z-index: 0;

	font-size: 14px;
	line-height: 1.29;
	background-repeat: no-repeat;

	&__title {
		font-weight: 400;
		font-size: 36px;
		line-height: 1;
		margin: 0;
	}

	&__subtitle {
		font-weight: 400;

		text-transform: uppercase;
		margin: 1.43em 0 2.14em;
	}

	&::after {
		position: absolute;
		content: "";
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: -1;
		opacity: 0.2;
	}

	@media (max-width: ($bp-tab - 1px)) {
		color: core.$light;
		background-color: core.$accent;

		background-image: $gradient;
		background-size: 100%;
		&::after {
			width: 100%;
			height: $background-mob-size;
			inset: 0 0 auto;
			@include core.responsive-background("../img/intro-bg-mob");
		}
	}

	@media (min-width: $bp-tab) {
		justify-items: start;
		justify-content: start;
		padding: 2em calc(var(--side-offset) + 40px) 526px;

		font-size: 20px;
		text-align: left;

		&__picture {
			order: 1;
			justify-self: end;
		}

		&__image {
			width: auto;
			right: 30px;
			bottom: 0;
			height: 608px;
			position: absolute;
			z-index: -1;
		}

		&__title {
			font-size: 3em;
			max-width: 16ch;
		}

		&__subtitle {
			margin: 40px 0 48px;
		}

		&__cta {
			width: auto;
			padding: 14px 26px;
		}
	}

	@media (min-width: core.$intro-breakpoint) {
		$filename: "../img/intro-bg-desc";
		background-image: linear-gradient(to right, #fff 50%, core.$accent 50%);

		background-position: right bottom;
		background-size: 100%, 50% auto;

		padding-bottom: 165px;
		align-items: end;
		align-content: end;
		min-height: 694px;

		&__image {
			width: 552px;
			height: auto;
			left: calc(50% - 180px);
			z-index: 1;
		}

		&::after {
			width: 50%;
			height: 100%;
			inset: 0 0 auto auto;
			@include core.responsive-background("../img/intro-bg-desc");
			background-position: right center;
		}
	}
}
