@use '../core/variables' as *;
@use 'sass:math';

.programs {
	display: grid;
	gap: var(--side-offset) math.div(80px, $container-width) * 100%;
	padding: var(--side-offset);
	justify-content: center;
	justify-items: center;

	@media (min-width: 500px) {
		padding-top: 0;
		padding-bottom: 45px;
	}
	@media (min-width: 1000px) {
		padding-top: 82px;
		padding-bottom: 70px;
		grid-template-columns: 1fr 1fr;
	}
}
