@use "../core/variables" as *;

.steps {
	padding: 0 var(--side-offset) 48px;

	&__headline {
		font-size: 36px;
		line-height: 1.11;
		color: #000;
		font-family: $accent-font;
		font-weight: 400;
		margin-bottom: 40px;
	}

	&__list {
		display: grid;
		gap: var(--side-offset);
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__step {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: var(--side-offset);
		align-items: center;
	}

	&__icon {
		color: #fff;
		background-color: $accent;
		order: -1;
	}

	@media (min-width: 600px) {
		counter-reset: step;
		&__headline {
			font-size: 60px;
			margin-bottom: 72px;
		}

		&__list {
			grid-template-columns: repeat(auto-fit, minmax(100px, 245px));
			justify-content: space-between;
			gap: 120px 40px;
		}

		&__step {
			counter-increment: step;
			grid-template-columns: 1fr;
			gap: 32px;
			position: relative;

			&::after {
				content: counter(step);
				position: absolute;
				left: 113px;

				font-weight: 400;
				font-size: 280px;
				line-height: 1;
				font-family: $accent-font;
				color: #f2f2f2;
				z-index: -1;
			}
		}
	}
}
