$accent: hsl(97, 53%, 47%);

$dark: #000;

$light: #fff;
$light-secondary: #d9d9d9;

$light-footer: #f2f2f2;

$mobile-offset: 20px;
$container-width: 1220px;

$main-font: "Arial", sans-serif;
$accent-font: "Oswald", $main-font;

$header-bp: 700px;
$intro-breakpoint: 1120px;
